html {
  background-color: black;
}


/* Headline */
header {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

/* Subheadline */
h3 {
  font size: 16px;
  color: Aquamarine;
  text-align: center;
}
